## 라이브러리

In [2]:
import pandas as pd
import numpy as np
from scipy.stats import pearsonr, spearmanr, kendalltau
from scipy import stats
from sklearn.ensemble import RandomForestRegressor

## 데이터 불러오기

In [3]:
path = './data/'

df = pd.read_csv(path+'Total_Single_Family_for_Target_Features.csv')

In [4]:
df

,Sell_Price,Sell_Count,JS_Price,JS_Count,CR,UR,LC_index,CA_index,TC_index,SDT_index,IR,Crime_Rates,Total_Pop,Univ_Counts,Park_Counts,School_Counts,Subway_Counts
0,316562.50,8,12301.48,135,3.89,3.1,74.5,81.5,78.5,102.461258,3.0,1.548846,554870,1.0,7,77,21
1,103757.14,21,7899.77,217,7.61,3.1,74.5,81.5,78.5,102.461258,3.0,1.548846,484742,0.0,7,60,14
2,36099.05,21,6475.71,210,17.94,3.1,74.5,81.5,78.5,102.461258,3.0,1.548846,338041,1.0,4,34,3
3,59457.50,10,6636.63,172,11.16,3.1,74.5,81.5,78.5,102.461258,3.0,1.548846,561431,2.0,9,80,9
4,55878.85,26,7886.90,252,14.11,3.1,74.5,81.5,78.5,102.461258,3.0,1.548846,517095,1.0,2,55,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3045,200992.60,73,16685.00,110,8.30,2.1,109.0,109.0,110.3,87.677816,2.5,0.865139,215891,2.0,2,34,10
3046,120008.08,52,12597.91,164,10.50,2.1,109.0,109.0,110.3,87.677816,2.5,0.865139,465727,1.0,7,66,13
3047,203981.08,37,21904.35,46,10.74,2.1,109.0,109.0,110.3,87.677816,2.5,0.865139,140477,6.0,12,36,15
3048,110150.39,23,15052.90,31,13.67,2.1,109.0,109.0,110.3,87.677816,2.5,0.865139,119206,2.0,4,31,23
3049,113917.78,81,13429.04,271,11.79,2.1,109.0,109.0,110.3,87.677816,2.5,0.865139,383496,1.0,6,48,8

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3050 entries, 0 to 3049
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sell_Price     3050 non-null   float64
 1   Sell_Count     3050 non-null   int64
 2   JS_Price       3050 non-null   float64
 3   JS_Count       3050 non-null   int64
 4   CR             3050 non-null   float64
 5   UR             3050 non-null   float64
 6   LC_index       3050 non-null   float64
 7   CA_index       3050 non-null   float64
 8   TC_index       3050 non-null   float64
 9   SDT_index      3050 non-null   float64
 10  IR             3050 non-null   float64
 11  Crime_Rates    3050 non-null   float64
 12  Total_Pop      3050 non-null   int64
 13  Univ_Counts    3050 non-null   float64
 14  Park_Counts    3050 non-null   int64
 15  School_Counts  3050 non-null   int64
 16  Subway_Counts  3050 non-null   int64
dtypes: float64(11), int64(6)
memory usage: 405.2 KB

## Categorical:

- Nominal(variables that have two or more categories, but which do not have an intrinsic order.)

    - Region_Name : 자치구 명
    - Building_Use : 건물 용도
    
- Ordinal(variables that have two or more categories just like nominal variables. Only the categories can also be ordered or ranked.)

    
## Numeric:

- Discrete
    - Year : 년
    - Month : 월
    - Region_Code : 자치구 코드
    - JS_Count : 전세 거래량
    - Sell_Count : 매매 거래량
    - School_Counts : 자치구 내 초중고 수
    - Subway_Counts : 자치구 내 지하철역 수
    - Univ_Counts : 자치구 내 대학교 수
    - Park_Counts : 자치구 내 공원 수
   
- Continous
    - Sell : 매매
    - Sell_Price : 매매 가격
    - Sell_BA = Sell_building Area : 매매 건물 면적
    - Sell_PPA = Sell_Price Per Area : 면적 당 매매 가격
    - Sell_PPP = Sell_Price Per Pyeong : 평 당 매매 가격
    - JS : 전세
    - JS_Price : 전세 가격
    - JS_BA = JS_Building Area : 임대 면적
    - JS_PPA = JS_Price Per Area : 임대 면적 당 전세 가격
    - JS_PPP = JS_Price Per Pyeong : 평 당 전세 가격
    - CR = Charter Rate : 전세가율
    - CR_PPA  = Charter_Rate_Price Per Area : 면적 당 전세가율
    - CR_PPP = Charter Rate_Price Per Pyeong : 평 당 전세가율
    - lR = Interest Rate : 금리
    - UR = Unemployment Rate : 실업률
    - LC_index = Leading Composite index : 선행종합 지수
    - CA_index = Comprehensive Accompany index : 동행종합 지수
    - TC_index = Trailing Composite index : 후행종합 지수
    - SDT_index = Supply and Demand Trend index = 전세수급동향 지수

## PCC

In [6]:
# 결과를 저장할 DataFrame 생성
result_df = pd.DataFrame(columns=['Column_Name', 'PCC', 'p-value'])

# 'JS_Price'와 다른 열 간의 PCC 및 p-value 계산 및 저장
for column in df.columns:
    if column != 'JS_Price':
        if df[column].dtype != object:
            correlation, p_value = pearsonr(df['JS_Price'], df[column])
            result_df = result_df.append({'Column_Name': column, 'PCC': correlation, 'p-value': p_value}, ignore_index=True)

In [7]:
result_df.sort_values(by='PCC', ascending=False).reset_index(drop=True)

      Column_Name       PCC        p-value
0      Sell_Price  0.799078   0.000000e+00
1        LC_index  0.515429  1.170309e-206
2        TC_index  0.512221  1.085663e-203
3        CA_index  0.510273  6.643046e-202
4   Subway_Counts  0.487964  2.992161e-182
5     Park_Counts  0.262900   2.161738e-49
6              UR  0.061748   6.448431e-04
7     Crime_Rates  0.061029   7.457427e-04
8     Univ_Counts  0.030883   8.814785e-02
9   School_Counts  0.014464   4.245635e-01
10      Total_Pop -0.037824   3.672658e-02
11     Sell_Count -0.077604   1.782349e-05
12       JS_Count -0.114900   1.964836e-10
13      SDT_index -0.145619   6.378575e-16
14             IR -0.410895  1.408975e-124
15             CR -0.479297  5.322224e-175

## ANOVA (continous vs discrete)

In [8]:
def anova(df):
    for column in df.columns:
        if np.issubdtype(df[column].dtype, np.integer):
            # 이 코드는 정수형 열에 대해서만 분산분석을 수행합니다.
            f_statistic, p_value = stats.f_oneway(*[group for name, group in df.groupby(column)['JS_Price']])
            print(column)
            print("F-statistic:", f_statistic, "p-value:", p_value)

In [9]:
anova(df)

Sell_Count
F-statistic: 0.9238370919238116 p-value: 0.739103239499028
JS_Count
F-statistic: 0.9770442613708 p-value: 0.6218817499526029
Total_Pop
F-statistic: 246.32336521678587 p-value: 0.0
Park_Counts
F-statistic: 85.64120250986464 p-value: 4.5685001900438694e-114
School_Counts
F-statistic: 252.7221883223498 p-value: 0.0
Subway_Counts
F-statistic: 222.57280267732438 p-value: 0.0

## KCC (continous vs categorical)

- 범주형 변수 더미화

In [10]:
# 범주형 변수 더미화 함수, 범주형 변수의 범주 레벨 간의 관계가 중요할 시 사용
def oh_encoding(df):
    # DataFrame의 복사본을 만듭니다.
    encoded_df = df.copy()
    for column in df.columns:
        if df[column].dtype == object:
            encoded_df = pd.get_dummies(encoded_df, columns=[column], prefix=column)
            print(column)
    return encoded_df

df_encoded = oh_encoding(df)

In [11]:
# 결과를 저장할 DataFrame 생성
result_df = pd.DataFrame(columns=['Column_Name', 'KCC', 'p-value'])

# 'JS_Price'와 다른 열 간의 Kendall 상관 계수 및 p-value 계산 및 저장
for column in df_encoded.columns:
    if column != 'JS_Price':
        if column.startswith('Region') or column.startswith('Building'):  
            kendall_corr, p_value = kendalltau(df_encoded['JS_Price'], df_encoded[column])
            result_df = result_df.append({'Column_Name': column, 'KCC': kendall_corr, 'p-value': p_value}, ignore_index=True)

In [12]:
result_df.sort_values(by='KCC', ascending=False).reset_index(drop=True)

Empty DataFrame
Columns: [Column_Name, KCC, p-value]
Index: []

- p-value값 고려
    - PCC 결과 a=0.05일 때 School_Counts, Univ_Counts은 통계적으로 상관관계가 유의하지 않으므로 변수에서 제외한다.
    - Anova 결과 a=0.05일 때 Sell_Count, JS_Count는 통계적으로 상관관계가 유의하지 않으므로 변수에서 제외한다.
- correlation값 고려
    - PCC결과 상관계수 절댓값이 0.1이하인 변수 제외 -> UR, School_Counts, Univ_Counts, Total_Pop, Crime_Rates, Sell_Count를 변수에서 제외