## 데이터 불러오기

In [77]:
import pandas as pd

path = './data/'
df_pop = pd.read_csv(path+'서울 연령별 인구수.csv')

In [78]:
df_pop

,동별(1),동별(2),성별(1),2013,2013.1,2013.2,2013.3,2013.4,2013.5,2013.6,...,2022.12,2022.13,2022.14,2022.15,2022.16,2022.17,2022.18,2022.19,2022.20,2022.21
0,동별(1),동별(2),성별(1),계,계,계,계,계,계,계,...,계,계,계,계,계,계,계,계,계,계
1,동별(1),동별(2),성별(1),소계,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상+
2,합계,소계,계,10012712,412727,403818,495012,621096,683039,781951,...,686982,708880,564473,398355,299197,207370,97564,33450,7424,1165
3,합계,소계,남자,4940393,211790,207919,257037,325512,345172,386001,...,337381,337364,263587,183155,133569,87193,34008,8804,1570,233
4,합계,소계,여자,5072319,200938,195899,237975,295584,337868,395950,...,349602,371516,300886,215200,165628,120178,63556,24646,5854,932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,합계,송파구,남자,323719,14976,15130,18889,22579,23101,24637,...,22686,22509,18293,12372,8180,4523,1799,502,92,12
76,합계,송파구,여자,338674,14128,14044,17576,21302,22301,27277,...,24027,25614,20638,12981,8727,5725,3449,1525,395,63
77,합계,강동구,계,479184,20726,19748,24226,31539,33521,36074,...,33618,36870,29428,19438,12885,7928,3788,1489,325,66
78,합계,강동구,남자,239131,10694,10291,12772,17016,17654,18295,...,16358,17349,13729,9316,6190,3414,1230,316,57,13
79,합계,강동구,여자,240053,10033,9457,11454,14524,15868,17780,...,17260,19521,15700,10122,6696,4514,2559,1173,268,53

In [79]:
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Columns: 223 entries, 동별(1) to 2022.21
dtypes: object(223)
memory usage: 139.5+ KB

In [83]:
path = './data/'
df_pop2 = pd.read_csv(path+'시군구_성_연령_5세_별_주민등록연앙인구_20230906153512.csv', encoding='EUC-KR')

In [84]:
df_pop2

,시점,행정구역(시군구)별,성별,계,0 - 4세,5 - 9세,10 - 14세,15 - 19세,20 - 24세,25 - 29세,...,65 - 69세,70 - 74세,75 - 79세,80세 이상,80 - 84세,85세 이상,85 - 89세,90 - 94세,95 - 99세,100세 이상
0,2000,서울특별시,계,10287787.0,631197.0,665410.0,628820.5,824109.5,921977.0,1145988.0,...,218124.0,143568.5,96622.0,85282.0,52857.5,32424.5,23654.0,7122.0,1311.0,337.5
1,2000,종로구,계,186484.0,9315.5,10574.5,10865.5,13953.0,15976.5,20883.0,...,5599.5,3773.0,2533.5,2292.5,1386.0,906.5,644.5,212.0,44.5,5.5
2,2000,중구,계,133632.0,7282.0,7709.0,6692.5,9086.5,11499.0,15425.5,...,3967.5,2811.5,1822.0,1432.0,896.0,536.0,381.5,127.0,23.5,4.0
3,2000,용산구,계,238788.0,13407.5,13534.5,12076.0,16405.0,20385.5,28196.5,...,7329.0,4756.5,3021.0,2509.5,1548.0,961.5,670.5,231.5,46.0,13.5
4,2000,성동구,계,339982.5,22717.5,22586.5,18633.5,23485.0,29502.0,40742.0,...,8068.0,4889.0,3020.0,2659.0,1635.5,1023.5,725.0,236.5,47.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,2022,관악구,계,482092.5,8142.0,10847.0,12036.0,14555.5,37539.5,71244.0,...,26699.5,20855.0,15810.5,16641.0,10667.0,5974.0,4296.0,1340.0,289.0,49.0
594,2022,서초구,계,402936.5,11429.5,18910.0,22880.5,21446.0,22941.5,27732.5,...,21435.5,15370.5,11264.0,12110.5,6925.5,5185.0,3466.5,1328.0,343.5,47.0
595,2022,강남구,계,522782.5,11915.5,21533.5,29777.0,29599.0,30564.5,38208.0,...,28114.5,20256.5,14554.0,15198.0,8758.0,6440.0,4188.5,1737.5,441.5,72.5
596,2022,송파구,계,652993.5,19615.0,27598.5,29136.5,28711.0,36991.5,51535.0,...,38930.0,25352.0,16906.0,18082.5,10248.0,7834.5,5247.5,2026.0,486.5,74.5
597,2022,강동구,계,457679.0,14280.0,19133.5,19889.0,18965.0,24887.0,34132.0,...,29428.0,19437.5,12885.0,13595.0,7928.0,5667.0,3788.0,1488.5,325.0,65.5

In [87]:
df_pop2.columns

Index(['시점', '행정구역(시군구)별', '성별', '계', '0 - 4세', '5 - 9세', '10 - 14세',
       '15 - 19세', '20 - 24세', '25 - 29세', '30 - 34세', '35 - 39세', '40 - 44세',
       '45 - 49세', '50 - 54세', '55 - 59세', '60 - 64세', '65 - 69세', '70 - 74세',
       '75 - 79세', '80세 이상', '80 - 84세', '85세 이상', '85 - 89세', '90 - 94세',
       '95 - 99세', '100세 이상'],
      dtype='object')

In [91]:
df_pop2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시점          598 non-null    int64
 1   행정구역(시군구)별  598 non-null    object
 2   성별          598 non-null    object
 3   계           598 non-null    float64
 4   0 - 4세      598 non-null    float64
 5   5 - 9세      598 non-null    float64
 6   10 - 14세    598 non-null    float64
 7   15 - 19세    598 non-null    float64
 8   20 - 24세    598 non-null    float64
 9   25 - 29세    598 non-null    float64
 10  30 - 34세    598 non-null    float64
 11  35 - 39세    598 non-null    float64
 12  40 - 44세    598 non-null    float64
 13  45 - 49세    598 non-null    float64
 14  50 - 54세    598 non-null    float64
 15  55 - 59세    598 non-null    float64
 16  60 - 64세    598 non-null    float64
 17  65 - 69세    598 non-null    float64
 18  70 - 74세    598 non-null    float64
 19  75 - 79세    598 non-null    float64
 20  80세 이상      598 non-null    float64
 21  80 - 84세    598 non-null    float64
 22  85세 이상      598 non-null    float64
 23  85 - 89세    598 non-null    float64
 24  90 - 94세    598 non-null    float64
 25  95 - 99세    598 non-null    float64
 26  100세 이상     598 non-null    float64
dtypes: float64(24), int64(1), object(2)
memory usage: 126.3+ KB

In [95]:
# 나이 그룹을 묶고 컬럼 이름 수정
age_groups = ['0~19세', '20~39세', '40~59세', '60~79세', '80~99세']
for age_group in age_groups:
    age_range = age_group.split('~')
    start_age, end_age = int(age_range[0]), int(age_range[1])
    columns_to_group = [f'{i}~{i+4}세' for i in range(start_age, end_age+1, 5)]
    df_pop2[age_group] = df_pop2[columns_to_group].sum(axis=1)
    df_pop2.drop(columns=columns_to_group, inplace=True)

KeyError: "None of [Index(['0~4세', '5~9세', '10~14세', '15~19세'], dtype='object')] are in the [columns]"

In [ ]:
df_pop2